<section class="header-container">
    <div class="header-logo">
        <img src=".\assets\images\scholar_logo_64dp.png">
    </div>
    <div class="header-btn">
        <button (click)="returnHome()">Home</button>
    </div>
    <!-- <div class="search-list-input" style="display: inline-block;">
        <input class="search-list-input-space" type="text" placeholder="Search authors" [(ngModel)]="authorName" disabled="true">
        <button class="search-list-button" (click)="searchAuthor()"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></button> 
    </div> -->
</section>