.header-container {
    background-color: rgba(204,204,204,.5);
    margin: 0;
    padding: 0.5rem 1rem;
    padding-top: 1rem;
    height: 2rem;
}

.header-logo {
    padding-top: 0.25rem;
    float: left;
}

.header-logo img {
    height: 1.5rem;
}

.header-btn {
    float: right;
} 

.header-btn :hover {
    background-color: #2f7efdca;
    color: white;
}

.header-btn button {
    outline: none;
    cursor: pointer;
    border: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    background-color: rgb(0, 0, 0, 0);
    padding: 0.35rem 0.7rem;
}

