<section>
    <div class="scholar-container-left">
        <div class="scholar-details-top">
            <div class="scholar-personal-left">
                <img>
            </div>
            <div class="scholar-personal-right">
                <p>name</p>
                <p>det1</p>
                <p>email</p>
                <p>subjects</p>
            </div>
        </div>
        <div class="scholar-details-btm">
            <table>
                <tr>
                    <th>TITLE</th>
                    <th>CITED BY</th>
                    <th>SELF-CITATION</th>
                    <th>YEAR</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>                
            </table>
        </div>
    </div>
    <div class="scholar-container-right">
        <div class="scholar-det-graph">

        </div>
        <div class="scholar-coauthors">
            
        </div>
    </div>
</section>