.scholar-container {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
}

.scholar-container-left {
    width: 60%;
}

.scholar-details-top {
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.scholar-personal-left {
    width: 20%;
    text-align: center;
    padding: 0.5rem;
}

.scholar-pic {
    border: 7px solid rgb(0, 0, 0, 0.3);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
}

.scholar-personal-right {
    width: 75%;
    padding: 0.5rem;
    padding-left: 1rem;
}

.scholar-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #2f7efd;
    margin: 1rem 0rem;
}

.scholar-afl {
    font-size: 1rem;
    margin: 0.4rem 0rem;
    color: rgb(0, 0, 0, 0.7);
}

.scholar-mail {
    font-size: 0.8rem;
    margin: 0.4rem 0rem;
    color: rgb(0, 0, 0, 0.7);
}

.scholar-interests {
    display: flex;
    padding: 0px;
    margin: 0.4rem 0rem;
}

.scholar-interests li {
    display: inline-block;
    margin-right: 20px;
    font-size: 0.9rem;
    font-weight: 550;
    color: #2f7efd;
}

.scholar-details-btm {
    padding: 1rem;
}

.scholar-article-det {
    border-collapse: collapse;
    color: rgb(0, 0, 0, 0.9);
    width: 100%;
    font-size: 0.95rem;
}

.scholar-articles :nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.scholar-articles tr :nth-child(even) {
    background-color: rgba(0, 0, 0, 0);
}

.scholar-articles tr td {
    padding: 0.5rem;
}

.scholar-articles tr th {
    padding: 0.5rem 0rem;
}

.scholar-container-right {
    width: 37%;
    margin-left: 2.5%;
    padding: 0.5rem;
}

.scholar-coauthors-hd {
    background-color: #2f7efd;
    padding: 0.5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.coauthors-details {
    border-bottom: 0.1px solid rgb(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    padding: 0.25rem 0rem;
}

.coauthor-personal-left {
    width: 20%;
    text-align: center;
    padding: 0.5rem;
    vertical-align: top;
}

.coauthor-personal-left img {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
}

.coauthor-personal-right {
    width: 70%;
    padding: 0.5rem;
    vertical-align: top;
    padding-left: 1rem;
}

/* @media (max-width: 768px) { */