/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-sort-header-arrow {
    color: #fff !important;
    opacity: 1 !important;
    margin-right: 10px !important;
}
