<section>
    <div class="search-list-header">
        <div class="search-list-logo" style="display: inline-block;">
            <img src=".\assets\images\scholar_logo_64dp.png">
        </div>
        <div class="search-list-input" style="display: inline-block;">
            <input class="search-list-input-space" type="text" placeholder="Search authors" [(ngModel)]="authorName">
            <button class="search-list-button" (click)="searchAuthor()"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></button>
        </div>
    </div>
    <div class="search-list-container">
        <div class="search-list-authors" *ngFor="let auth of authorList; index as i " (click)="authorSearchById(i)">
            <a>{{auth.name}}</a>
            <p>Affiliations: {{auth.affiliations}}</p>
            <p>E-mail: {{auth.email}}</p>
            <p>Cited By: {{auth.cited_by}}</p>
        </div>
    </div>
</section>